<%= render 'shared/header', :title => 'Confirmation'  %>

<div class="pt-5 sm:pt-16 flex flex-col items-center w-full">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { 'data-turbo': 'false', class: 'w-full max-w-2xl sm:gap-5 flex flex-col items-center', method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :email, class: 'hidden' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "w-full border-x-0 sm:border border-b-1 border-tertiary-50 p-4", placeholder: 'Email' %>
    </div>
  
    <div class="actions mt-5">
      <%= f.submit "Resend confirmation instructions", class: "px-6 py-2 text-white bg-secondary-500 hover:cursor-pointer" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
