<%= render 'shared/header', :title => 'Category' %>
<div class="pt-5 sm:pt-16 flex flex-col items-center w-full">
  <%= form_with model: group, url: categories_url, method: :post, class: 'w-full max-w-2xl sm:gap-5 flex flex-col items-center' do |f| %>
    <div class="field">
      <%= f.label :name, class: 'hidden' %>
      <%= f.text_field :name, autofocus: true, class: "w-full border-x-0 sm:border border-b-1 border-tertiary-50 p-4", placeholder: 'Name (Minimun 3 characters)' %>
    </div>

    <div class="field">
      <%= f.label :icon, class: 'hidden' %>
      <%= f.text_field :icon, autofocus: true, class: "w-full border-x-0 sm:border border-b-1 border-tertiary-50 p-4", placeholder: 'Icon (Please add a proper URL)' %>
    </div>

    <div class="actions mt-5">
      <%= f.submit "Save", class: "px-6 py-2 text-white xl:text-lg 2xl:text-xl bg-secondary-500 hover:cursor-pointer" %>
    </div>
  <% end %>
</div>
