<section id="transactions" class="bg-slate-300 w-full min-h-screen relative flex flex-col justify-between">
  <%= render 'shared/header', :title => 'Transactions' %>
  <div>
    <h2> Total amount: <%= @group.total_amount %> </h2>
  </div>
  <ul class="transactions p-3 flex flex-col w-full gap-3 box-border">
    <% @transactions.each do |transaction| %>
      <li class="transaction w-full flex justify-between items-center p-3 bg-white flex-wrap gap-5">
        <h2 class="text-tertiary-500 text-lg"> <%= transaction.name %> </h2>
        <p class="font-semibold text-lg"> $<%= transaction.amount %> </p>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a new transaction', new_category_transaction_path(category_id: @group.id), class: "block sticky bottom-0 text-xl uppercase text-light text-center text-white bg-secondary-800 w-full p-5 mt-20" %>
</section>

