<!DOCTYPE html>
<html>
  <head>
    <title>Spendless</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>

  <body>
    <main>
      <% if notice %>
        <p class="flash absolute top-0 z-30 p-2 text-center text-white bg-secondary-800"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="flash absolute top-0 z-30 p-2 text-center text-white bg-red-800"><%= alert %></p>  
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
