<!DOCTYPE html>
<html>
  <head>
    <title>Spendless</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice || alert %>
      <p class="absolute p-2 text-center text-white bg-secondary-800"><%= notice %></p>
      <p class="absolute p-2 text-center text-white bg-red-800"><%= alert %></p>  
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
